Options All -Indexes

DirectoryIndex index.php index.htm index.html

RewriteEngine on
RewriteBase /

# Force HTTPS on the subdomains/subdirectories login or admin
#RewriteCond %{HTTPS} off
#RewriteCond %{airugs.com} ^(login|admin)\. [NC]
#RewriteCond %{REQUEST_URI} ^(login|admin)\. [NC,OR]
#RewriteRule (.*) https://%{airugs.com}%{REQUEST_URI} [R=301,L]

# Force WWW if no subdomain is given
RewriteCond %{airugs.com} ^[^.]+\.[^.]+$
RewriteCond %{airugs.com} !^$
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{airugs.com}%{REQUEST_URI} [R=301,L]

