.premint-container {
    user-select: none;
}

.premint-container h1 {
    font-size: 3rem;
}

.premint-container p.clock {
    font-size: 3rem;
}

.premint-container .time-remaining-counter {
    font-size: 2.5rem;
}

.premint-container .countdown {
    text-align: center;
    padding-top: 10%;
    transition: all 350ms ease;
    animation: fadeInOutAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.premint-container .countdown .countdowntimer-content {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 .25rem;
    gap: 8%;
}

.premint-container .countdown .countdowntimer-content p {
    /* color: limegreen; */
    font-size: 3rem;
}

@keyframes fadeInOutAnimation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 25%;
    }
    50% {
        opacity: 50%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        opacity: 1;
    } 
  }

@media (max-width:680px) {
    .premint-container .time-remaining-counter {
        flex-direction: column;
    }

    .premint-container .countdown .countdowntimer-content {
        flex-direction: column;
    }

    .premint-container h1 {
        padding-top: 1rem;
        font-size: 2.5rem;
    }

    .premint-container .countdown .countdowntimer-content p {
        padding-bottom: 1em;
    }
}